* {
    background-color: rgb(31, 30, 30);
    color: white;
    font-family: monospace;
    font-size: 16px;
}

h1, h3, h4 {
    color: tomato;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    height: auto;
    width: 300px;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}
